<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @band.name %>
</p>

<p>
  <b>Location:</b>
  <%= @band.location %>
</p>

<p>
  <b>Image:</b>
  <%= @band.image %>
</p>

<p>
  <b>Homepage:</b>
  <%= @band.homepage %>
</p>

<p>
  <b>Style:</b>
  <%= @band.style %>
</p>


<%= link_to 'Edit', edit_band_path(@band) %> |
<%= link_to 'Back', bands_path %>
